# Virtual environment
.venv/
venv/
env/

# Build / distribution
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Byte-compiled files
*.pyc

# PyCharm / JetBrains
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

